/* colors */
/* dark #1B1B1B */
/* orange #D74B00 */
/* white #fff */
/* white 90% teaser boxes rgba(255, 255, 255, .9) */
/* light grey body background #FAFAFA */
/* grey copytext #777777 */
/* grey button #D5D5D5 */
/* dark grey button border and text #282828 */
/* lightblue button focus rgba(0, 123, 255, .25) */
/* shadow for teaser boxes rgba(0, 0, 0, .16) */
/* red error #FF0000 */

/* add fonts */
@font-face {
  font-family: "Hind-Light";
  src: url("../fonts/Hind-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind-Regular";
  src: url("../fonts/Hind-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind-Medium";
  src: url("../fonts/Hind-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tradegothic-Bold";
  src: url("../fonts/tradegothic-bold-webfont.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

.hind-light {
  font-family: "Hind-Light", sans-serif;
}

.hind-regular {
  font-family: "Hind-Regular", sans-serif;
}

.hind-medium {
  font-family: "Hind-Medium", sans-serif;
}

.tradegothic-bold {
  font-family: "Tradegothic-Bold", sans-serif;
  text-transform: uppercase;
}

/* basic styles */
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  line-height: 1;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* save header height + 30px for active targets */
:target {
  scroll-margin: 90px 0 0 0;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hind-Light", sans-serif;
  background: #fafafa;
}

main {
  margin: 120px auto 0 auto;
  min-height: 600px;
}

/* no space on homepage */
.home main {
  margin-top: 60px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Typo */
h1 {
  font-family: "Tradegothic-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 7.4rem;
  margin: 0 0 30px 0;
}
@media (max-width: 1023px) {
  h1 {
    font-size: 2.6rem;
  }
}

h2 {
  margin: 0 0 15px 0;
}

p {
  font-size: 1.6rem;
  line-height: 1.375;
  margin: 0 0 30px 0;
  color: #777777;
}

/* links in content */
a,
a:visited {
  color: #777777;
  background: transparent;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #1b1b1b;
  background: transparent;
  text-decoration: none;
}

a:active {
  color: #777777;
  background: transparent;
  text-decoration: none;
}

.skip-link,
.screen-reader-text {
  display: none;
}

.fslightbox-toolbar-button:nth-child(1) {
  display: none !important;
}
.gt-lightbox-content {
  display: block;
}
.gt-lightbox-contentbox-inner {
  padding: 30px 0;
}
