.cookie-policy {
    padding-top: 30px;
    background: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.cookie-policy p a {
    color: #777777;
}

.cookie-policy .gt-grid {
    width: auto;
    max-width: 1174px;
}
@media (max-width: 1023px) {
    .cookie-policy .gt-grid {
        flex-direction: column;
    }
}

.cookie-function {
    min-width: 300px;
    text-align: right;
}
@media (max-width: 1023px) {
    .cookie-function {
        text-align: left;
        min-width: 200px;
    }
}

.cookie-function .button {
    margin-left: 30px;
}
@media (max-width: 1023px) {
    .cookie-function .button {
        margin-left: 0;
        margin-right: 30px;
    }
}
