.language-switch-select {
    display: block;
    font-family: 'Hind-Medium', sans-serif;
    font-size: 1.4rem;
    line-height: 1.1;
    color: #fff;
    padding: 0 15px 0 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #D74B00;
    background-image: url('../icons/arrow-down.svg'),
    linear-gradient(to bottom, #D74B00 0%,#D74B00 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right 0 top 40%, 0 0;
    /* icon size, gradient size */
    background-size: 14px auto, 100%;
}

/* Hide arrow icon in IE */
.language-switch-select::-ms-expand {
    display: none;
}

.language-switch-select:hover {
    border-color: #D74B00;
}

.language-switch-select:focus {
    border-color: #D74B00;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: none;
    color: #fff;
    outline: none;
}

.language-switch-select option {
    font-weight: normal;
}
