.gt-lightbox-content {
    display: none;
    background: #282828;
    padding: 60px;
    position: relative;
    margin: 0 auto 120px;
}

[id*='gt-lightbox']:target {
    display: block;
    scroll-margin: 60px 0 0 0;
}

@media (max-width: 1023px) {
    .gt-lightbox-content {
        margin-bottom: 100px;
    }
}

@media (max-width: 1023px) {
    .gt-lightbox-content,
    [id*='gt-lightbox']:target {
        display: none;
    }
}

:root button.gt-lightbox-close,
:root a.gt-lightbox-close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    box-shadow: none;
}

:root button.gt-lightbox-close::after,
:root a.gt-lightbox-close::after {
    display: block;
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: url('../icons/close-x.svg') no-repeat;
}

.gt-lightbox-headline {
    display: block;
    /* max-width: 550px; */
    text-align: center;
    font-family: 'Tradegothic-Bold', sans-serif;
    text-transform: uppercase;
    font-size: 4.5rem;
    margin: 0 auto 30px;
    color: #fff;
}

.gt-lightbox-content p {
    color: #fff;
    /* max-width: 700px; */
    text-align: center;
    margin: 0 auto 30px;
}

.gt-lightbox-content ol {
    font-size: 1.6rem;
    line-height: 1.375;
    margin: 0 0 30px 0;
    padding: 0;
    color: #fff;
}

.gt-lightbox-content li {
    margin: 0 0 15px 0;
    list-style-position: inside;
}

.gt-lightbox-content li img {
    display: block;
    margin: 15px 0;
}

.copy-qr-code {
    font-size: 1.2rem;
}

.copy-qr-code::before {
    display: inline-block;
    content: '';
    position: relative;
    left: 0;
    top: 2px;
    height: 12px;
    width: 12px;
    padding-right: 15px;
    background: url('../icons/copylink_icon.svg') no-repeat;
}

.gt-lightbox-content a {
    color: #fff;
}

.gt-lightbox-ar-model-viewer-embed {
    background: #2478FF;
    width: 746px;
    min-height: 523px;
}
