.teaser-augmented-reality {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 0;
    margin: 0 0 120px 0;
}
@media (max-width: 1200px) {
    .teaser-augmented-reality {
        background-size: 60%;
    }
}
@media (max-width: 1023px) {
    .teaser-augmented-reality {
        margin-bottom: 100px;
        background-position: 100% 35%;
        background-size: 60%;
    }
}

.teaser-augmented-reality h2 {
    color: #D74B00;
    font-size: 3.5rem;
    line-height: 1.114285714285714;
}
@media (max-width: 1023px) {
    .teaser-augmented-reality h2 {
        font-size: 2.2rem;
        line-height: 1.090909090909091;
    }
}

.teaser-augmented-reality h2::before {
    content: '';
    display: block;
    width: 65px;
    height: 67px;
    background-image: url('../icons/ar-icon.svg');
    margin-bottom: 15px;
}

.teaser-augmented-reality p {
    margin-bottom: 180px;
}
@media (max-width: 1023px) {
    .teaser-augmented-reality p {
        margin-bottom: 280px;
    }
}

.teaser-augmented-reality .gt-grid {
    align-items: stretch;
    flex-wrap: wrap;
}

.teaser-augmented-reality .gt-col-6 {
    padding-right: 70px;
}
@media (max-width: 1023px) {
    .teaser-augmented-reality .gt-col-6 {
        padding-right: 0;
    }
}

:root a.teaser-augmented-reality-content {
    position: relative;
    display: block;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .16);
    border: 1px solid transparent;
    border-radius: 5px;
    flex: 0 0 calc(33% - 16.5px);
    padding: 25px 70px 20px 120px;
    min-height: 100px;
    margin: 0 30px 30px 0;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.375;
    color: #777777;
}
@media (max-width: 1023px) {
    :root a.teaser-augmented-reality-content {
        margin: 0 0 15px 0;
        flex: 0 0 100%;
    }
}

:root .teaser-augmented-reality-content:hover {
    background: rgba(255, 255, 255, 1);
    box-shadow: none;
    border: 1px solid #D5D5D5;
}

:root .teaser-augmented-reality-content:focus {
    background: rgba(255, 255, 255, 1);
    box-shadow: none;
    border: 1px solid #D74B00;
    outline: 0;
}

:root .teaser-augmented-reality-content:active {
    background: rgba(255, 255, 255, 1);
    box-shadow: none;
    border: 1px solid #D74B00;
}

.teaser-augmented-reality-content:nth-child(3),
.teaser-augmented-reality-content:last-of-type {
    margin-right: 0;
}


.teaser-augmented-reality-content img {
    position: absolute;
    left: 10px;
    top: 10px;
}

.teaser-augmented-reality-content::after {
    content: '';
    display: block;
    position: absolute;
    right: 5px;
    bottom: 7px;
    width: 65px;
    height: 33px;
    background-image: url('../icons/ar-icon-text.svg');
}
