.teaser-centered {
    margin: 0  0 120px 0;
}
@media (max-width: 1023px) {
    .teaser-centered {
        margin-bottom: 100px;
    }
}

.teaser-centered h3 {
    color: #D74B00;
    font-size: 2.6rem;
    margin: 0  0 15px 0;
}
@media (max-width: 1023px) {
    .teaser-centered h3 {
        font-size: 2.2rem;
    }
}

.teaser-centered .gt-col-6:first-of-type {
    text-align: center;
}
@media (max-width: 1023px) {
    .teaser-centered .gt-col-6:first-of-type {
        padding: 0 0 30px 0;
    }
}

.teaser-centered .gt-col-6:first-of-type a {
    display: inline-block;
    line-height: 0;
}

@media (max-width: 1023px) {
    .teaser-centered .gt-col-6:first-of-type img {
        max-width: 60%;
    }
}

@media (max-width: 1023px) {
    .teaser-centered .gt-col-6:last-of-type {
        text-align: center;
    }

    .teaser-centered .gt-col-6:last-of-type h3 ,
    .teaser-centered .gt-col-6:last-of-type p {
        text-align: left;
    }
}



