/* base and teaser */
.whitepaper {
    margin: 300px 0 120px 0;
    position: relative;
}
@media (max-width: 1023px) {
    .whitepaper {
        margin: 250px 0 100px 0;
    }
}

.whitepaper-image-background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    height: 520px;
    width: 100%;
    position: absolute;
    top: -300px;
    left: 0;
}
@media (max-width: 1023px) {
    .whitepaper-image-background {
        top: -250px;
    }
}

.whitepaper-dark-background {
    background: #1B1B1B;
}

.whitepaper h2 {
    color: #D74B00;
    font-size: 3.5rem;
    margin: 60px 0 30px;
}
@media (max-width: 1023px) {
    .whitepaper h2 {
        font-size: 2.2rem;
        margin: 30px 0 15px 20px;
        text-align: left;
    }
}

.whitepaper p {
    color: #fff;
}
@media (max-width: 1023px) {
    .whitepaper p {
        text-align: left;
        margin-left: 20px;
    }
}

.whitepaper img {
    margin: 62px 0 60px 0;
    position: relative;
    z-index: 2;
    height: unset;
}
@media (max-width: 1023px) {
    .whitepaper img {
        margin: -50px 0 0;
    }
}

.whitepaper .gt-col-6 {
    position: relative;
}
.whitepaper .gt-col-6:first-of-type {
    text-align: center;
}
@media (max-width: 1023px) {
    .whitepaper .gt-col-6 {
        text-align: center;
    }
}

.whitepaper .gt-col-12 {
    padding-left: calc(50% + 15px);
}
@media (max-width: 1023px) {
    .whitepaper .gt-col-12 {
        padding-left: 0;
    }
}

:root .button-icon-download {
    position: relative;
    padding-left: 50px;
}

:root .button-icon-download::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 16px;
    width: 14px;
    height: 17px;
    background-image: url('../icons/download-icon.svg');
}

/* Form */
.whitepaper #show-form {
    display: none;
}

.whitepaper #show-form:target {
    display: block;
    padding-bottom: 30px;
}

:root [id='downloadlink'] a {
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
}
