@font-face {
  font-family: Hind-Regular;
  src: url(../fonts/Hind-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Hind-Medium;
  src: url(../fonts/Hind-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Tradegothic-Bold;
  src: url(../fonts/tradegothic-bold-webfont.woff) format("woff");
  font-style: normal;
}
.hind-medium {
  font-family: Hind-Medium, sans-serif;
}
.tradegothic-bold {
  font-family: Tradegothic-Bold, sans-serif;
  text-transform: uppercase;
}
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  line-height: 1;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
:after,
:before {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Hind-Regular", sans-serif;
}
main {
  margin: 100px auto 0 auto;
  min-height: 400px;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-family: "Tradegothic-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 7.4rem;
  margin: 0;
}
h2 {
  margin: 0 0 15px 0;
}
p {
  font-size: 1.6rem;
  line-height: 1.375;
  margin: 0 0 3rem 0;
  color: #777777;
}
a,
a:visited {
  color: #777777;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #1b1b1b;
  text-decoration: none;
}
a:active {
  color: #777777;
  text-decoration: none;
}
.button,
.c-footer__button-link,
.button:visited,
.c-footer__button-link:visited {
  font-size: 1.6rem;
  background: #d74b00;
  border: 1px solid #d74b00;
  color: #fff;
  border-radius: 50px;
  padding: 13px 30px 10px 30px;
  display: inline-block;
  margin: 0 0 20px 0;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button:hover,
.c-footer__button-link:hover {
  background: #d5d5d5;
  border: 1px solid #d5d5d5;
  color: #d74b00;
}
.button:focus,
.c-footer__button-link:focus {
  background: #d5d5d5;
  border: 1px solid #d5d5d5;
  outline: 0;
  color: #d74b00;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
.button:active,
.c-footer__button-link:active {
  color: #d74b00;
  text-decoration: underline;
}
.button-ghost,
.button-ghost:visited {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}
.button-ghost:hover,
.button-ghost:focus {
  color: #d74b00;
}
.button-border,
.button-border:visited {
  border: 1px solid #282828;
  background: #fff;
  color: #282828;
}
.button-border:hover,
.button-border:focus {
  color: #d74b00;
  background: #d5d5d5;
  border: 1px solid #282828;
}
.button-white,
.button-white:visited {
  border: 1px solid #fff;
  background: #fff;
  color: #d74b00;
}
.button-white:hover,
.button-white:focus {
  background: #d5d5d5;
  border: 1px solid #d5d5d5;
}
.gt-grid,
main .c-image-gallery__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  width: 1174px;
}
@media (max-width: 1023px) {
  .gt-grid,
  main .c-image-gallery__container {
    flex-direction: column;
  }
}
main .gt-grid,
main .c-image-gallery__container {
  justify-content: center;
  width: auto;
  max-width: 1174px;
}
[class^="gt-col"] {
  margin: 0;
  padding: 0;
}
@media (max-width: 1023px) {
  [class^="gt-col"] {
    flex: 1 1 100%;
    margin: 0 !important;
  }
}
.gt-col-12 {
  flex: 1 0 100%;
}
.gt-col-6 {
  flex: 1 0 calc(50% - 1.5rem);
  margin-right: 1.5rem;
}
.gt-col-6:last-child {
  margin-left: 1.5rem;
  margin-right: 0;
}
.gt-col-4 {
  flex: 0 0 calc(33.33333% - 1.5rem);
  margin-right: 1.5rem;
}
.gt-col-4:nth-child(2) {
  flex-basis: calc(33.33333% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.gt-col-4:last-child {
  margin-left: 1.5rem;
  margin-right: 0;
}
.gt-col-2 {
  flex: 1 0 calc(20% - 1.5rem);
  margin-left: 1.5rem;
}
.gt-col-8 {
  flex: 1 0 calc(80% - 1.5rem);
  margin-right: 1.5rem;
}
.gt-col-4-indent-2 {
  flex: 0 0 calc(33.33333% - 1.5rem);
  margin-right: 1.5rem;
}
.gt-col-4-indent-2:last-child {
  margin-left: 1.5rem;
  margin-right: 0;
}
.grid-demo .gt-grid,
.grid-demo main .c-image-gallery__container,
main .grid-demo .c-image-gallery__container {
  margin-bottom: 3rem;
}
@media (max-width: 1023px) {
  .grid-demo .gt-grid,
  .grid-demo main .c-image-gallery__container,
  main .grid-demo .c-image-gallery__container {
    margin-bottom: 0;
  }
}
.grid-demo [class^="gt-col"] {
  background: lightcyan;
  border: 1px solid lightblue;
  padding: 1rem;
}
@media (max-width: 1023px) {
  .grid-demo [class^="gt-col"] {
    margin-bottom: 1rem !important;
  }
}
.footer,
.c-footer {
  background: #1b1b1b;
  color: #fff;
  display: flex;
  min-height: 60px;
}
.footer .gt-grid,
.c-footer .gt-grid,
.footer main .c-image-gallery__container,
main .footer .c-image-gallery__container,
.c-footer main .c-image-gallery__container,
main .c-footer .c-image-gallery__container {
  margin-top: 20px;
}
@media (max-width: 1023px) {
  .footer .gt-grid,
  .c-footer .gt-grid,
  .footer main .c-image-gallery__container,
  main .footer .c-image-gallery__container,
  .c-footer main .c-image-gallery__container,
  main .c-footer .c-image-gallery__container {
    flex-direction: column;
    margin: 25px 0 80px 0;
  }
}
.footer a,
.c-footer a {
  font-family: "Hind-Medium", sans-serif;
  font-size: 1.3rem;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 0 40px 20px 0;
}
@media (max-width: 1023px) {
  .footer a,
  .c-footer a {
    margin-right: 20px;
  }
}
.footer p,
.c-footer p {
  font-family: "Hind-Medium", sans-serif;
  font-size: 1.3rem;
  color: #fff;
}
.header,
.c-header {
  position: fixed;
  top: 0;
  background: #d74b00;
  display: flex;
  color: #fff;
  min-height: 60px;
  width: 100%;
}
.header .gt-grid,
.c-header .gt-grid,
.header main .c-image-gallery__container,
main .header .c-image-gallery__container,
.c-header main .c-image-gallery__container,
main .c-header .c-image-gallery__container {
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 1023px) {
  .header .gt-grid,
  .c-header .gt-grid,
  .header main .c-image-gallery__container,
  main .header .c-image-gallery__container,
  .c-header main .c-image-gallery__container,
  main .c-header .c-image-gallery__container {
    flex-direction: row;
  }
}
.header .logo,
.c-header .logo {
  flex: 0 0 auto;
  margin-right: 40px;
}
@media (max-width: 1023px) {
  .header .logo,
  .c-header .logo {
    width: 69px;
  }
}
.header a,
.c-header a {
  font-family: Hind-Medium, sans-serif;
  font-size: 1.4rem;
  line-height: 1.1;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}
.header .navigation a,
.c-header .navigation a {
  font-size: 1.6rem;
  margin-right: 40px;
}
.header .navigation,
.c-header .navigation {
  flex: 0 0 50%;
}
@media (max-width: 1023px) {
  .header .navigation,
  .c-header .navigation {
    display: none;
  }
}
.meta-navigation {
  display: flex;
  flex: 1 1 40%;
  align-items: center;
  justify-content: flex-end;
}
.header a.external,
.c-header a.external {
  position: relative;
  padding-right: 20px;
  margin-right: 20px;
}
@media (max-width: 1023px) {
  .external {
    display: none;
  }
}
@media (max-width: 1023px) {
  .header a.contact,
  .c-header a.contact {
    margin-right: 0;
  }
}
.external::after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: -2px;
  right: 0;
  background: url(../icons/external.svg) no-repeat;
}
.language-switch {
  border-left: 1px solid #fff;
  padding: 0 0 0 15px;
  margin: 0 0 0 15px;
}
.language-switch-select {
  display: block;
  font-family: "Hind-Medium", sans-serif;
  font-size: 1.4rem;
  line-height: 1.1;
  color: #fff;
  padding: 0 15px 0 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #d74b00;
  background-image: url(../icons/arrow_down.svg),
    linear-gradient(to bottom, #d74b00 0%, #d74b00 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0 top 40%, 0 0;
  background-size: 14px auto, 100%;
}
.language-switch-select::-ms-expand {
  display: none;
}
.language-switch-select:hover {
  border-color: #d74b00;
}
.language-switch-select:focus {
  border-color: #d74b00;
  box-shadow: none;
  color: #fff;
  outline: none;
}
.language-switch-select option {
  font-weight: normal;
}
.cookie-policy,
.c-cookie-disclaimer {
  padding-top: 30px;
  background: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100;
}
.cookie-policy p a,
.c-cookie-disclaimer p a {
  color: #777777;
}
.cookie-policy .gt-grid,
.c-cookie-disclaimer .gt-grid,
.cookie-policy main .c-image-gallery__container,
main .cookie-policy .c-image-gallery__container,
.c-cookie-disclaimer main .c-image-gallery__container,
main .c-cookie-disclaimer .c-image-gallery__container {
  width: auto;
  max-width: 1174px;
}
@media (max-width: 1023px) {
  .cookie-policy .gt-grid,
  .c-cookie-disclaimer .gt-grid,
  .cookie-policy main .c-image-gallery__container,
  main .cookie-policy .c-image-gallery__container,
  .c-cookie-disclaimer main .c-image-gallery__container,
  main .c-cookie-disclaimer .c-image-gallery__container {
    flex-direction: column;
  }
}
.cookie-function {
  min-width: 300px;
  text-align: right;
}
@media (max-width: 1023px) {
  .cookie-function {
    text-align: left;
    min-width: 200px;
  }
}
.cookie-function .button,
.cookie-function .c-footer__button-link {
  margin-left: 30px;
}
@media (max-width: 1023px) {
  .cookie-function .button,
  .cookie-function .c-footer__button-link {
    margin-left: 0;
    margin-right: 30px;
  }
}
h2 {
  font-family: "Tradegothic-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
}
.link,
.link:visited {
  color: #777;
  text-decoration: underline;
}
.link:hover,
.link:focus {
  color: #1b1b1b;
  text-decoration: none;
}
.link:active {
  color: #777;
  text-decoration: none;
}
button,
a,
select {
  cursor: pointer;
}
.header,
.c-header {
  z-index: 100;
}
.c-cookie-disclaimer {
  z-index: 100;
}
.c-footer {
  z-index: 80;
}
.c-tutorial,
.c-backdrop {
  z-index: 90;
}
.c-webgl {
  z-index: 20;
}
.c-overlay .close-button {
  z-index: 100;
}
.c-back {
  z-index: 50;
}
.c-loading-indicator .rotate {
  z-index: 95;
}
.c-info-box__pivot {
  z-index: 85;
}
ul {
  font-size: 1.6rem;
  line-height: 1.375;
  margin: 0 0 3rem;
  color: #777777;
  list-style: none;
  padding-left: 1rem;
}
ul li {
  position: relative;
  padding-left: 20px;
}
ul li::before {
  content: "";
  display: inline-block;
  height: 1.3rem;
  width: 1.3rem;
  background-image: url(../icons/list_arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
  position: absolute;
  left: 0;
  top: 4px;
}
.c-box {
  background-color: transparent;
  width: 184px;
  height: 280px;
  color: white;
  text-align: center;
  margin: 0 12px;
}
@media (max-width: 1200px) {
  .c-box {
    width: 180px;
  }
}
@media (max-width: 600px) {
  .c-box {
    width: 100%;
    height: auto;
  }
}
.c-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s, opacity 0.25s ease-out;
}
@media (max-width: 480px) {
  .c-backdrop {
    overflow-y: scroll;
  }
}
.c-tutorial--hidden .c-backdrop {
  opacity: 0;
  visibility: hidden;
}
.c-tutorial__content {
  position: relative;
  margin: auto;
  color: white;
  text-align: center;
  max-width: 90vw;
}
@media (max-width: 600px) {
  .c-tutorial__content {
    padding: 25px;
  }
}
.c-tutorial__wrapper {
  display: flex;
  height: 100vh;
  padding-top: 60px;
  overflow-y: auto;
}
.c-tutorial__box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 48px;
  margin-left: -15px;
}
@media (max-width: 480px) {
  .c-tutorial__box-container {
    margin: 0;
  }
}
@media (max-width: 600px) {
  .c-tutorial__box-container {
    flex-direction: column;
    align-content: center;
  }
}
@media (max-width: 1200px) {
  .c-tutorial__box-container {
    margin-left: 0;
  }
}
.c-tutorial__quality-note {
  color: #fff;
}
.c-box {
  display: flex;
  flex-direction: column;
}
.c-box .info-img-0,
.c-box .info-img-1,
.c-box .info-img-2 {
  padding-bottom: 10px;
}
.c-box .info-img-0 {
  width: 42px;
}
.c-box .info-img-1 {
  width: 53px;
}
.c-box .info-img-2 {
  margin-top: -20px;
  width: 82px;
}
.c-box div:first-of-type {
  height: 70px;
}
.c-box div:nth-of-type(2) {
  display: block;
  height: 90px;
}
.c-box p {
  padding-top: 10px;
  height: 80px;
  color: white;
}
@media (max-width: 768px) {
  .c-box div:nth-of-type(2) {
    display: none;
  }
  .c-box .info-img-0 {
    content: url(../icons/gesture.svg);
    width: 70px;
  }
}
@media (max-width: 600px) {
  .c-box {
    flex-direction: row;
    align-content: center;
    margin-left: 0;
    margin-right: 0;
  }
  .c-box div:first-of-type {
    flex-basis: 25%;
    height: auto;
    padding: 10px;
  }
  .c-box p {
    text-align: left;
    flex-basis: 75%;
    height: auto;
    padding: 10px;
  }
  .c-box .info-img-0 {
    width: 47px;
  }
  .c-box .info-img-1 {
    width: 34px;
  }
  .c-box .info-img-2 {
    margin-top: -20px;
    width: 54px;
  }
}
.c-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: transparent;
  pointer-events: none;
}
.c-footer button,
.c-footer a {
  pointer-events: visible;
}
.c-footer .gt-grid,
.c-footer main .c-image-gallery__container,
main .c-footer .c-image-gallery__container {
  align-items: baseline;
}
.c-footer__link-button {
  display: inline-block;
  font-family: Hind-Medium, sans-serif;
  font-size: 1.3rem;
  color: #fff;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  margin: 0 40px 20px 0;
}
@media (max-width: 1023px) {
  .c-footer__link-button {
    margin-right: 20px;
  }
}
.c-footer__button-link {
  font-size: 1.6rem !important;
  visibility: visible;
  position: relative;
  padding: 18px 30px 14px 60px;
}
.c-footer__button-link img {
  width: 30px;
  position: absolute;
  top: 6px;
  left: 20px;
}
.c-footer__button-link--hidden {
  visibility: hidden;
}
@media (max-width: 1023px) {
  .c-footer .gt-grid,
  .c-footer main .c-image-gallery__container,
  main .c-footer .c-image-gallery__container {
    flex-direction: row;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .c-footer .gt-grid,
  .c-footer main .c-image-gallery__container,
  main .c-footer .c-image-gallery__container {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .c-footer .c-footer__button-link {
    order: 1;
    margin-right: 0;
  }
  .c-footer .c-footer__link-button {
    padding: 0;
    line-height: 1;
  }
  .c-footer .gt-grid nav,
  .c-footer main .c-image-gallery__container nav,
  main .c-footer .c-image-gallery__container nav {
    order: 2;
    display: flex;
    flex-basis: 20%;
    word-break: keep-all;
    align-items: baseline;
    text-align: center;
  }
  .c-footer .gt-grid nav a,
  .c-footer main .c-image-gallery__container nav a,
  main .c-footer .c-image-gallery__container nav a,
  .c-footer .gt-grid nav .c-footer__link-button,
  .c-footer main .c-image-gallery__container nav .c-footer__link-button,
  main .c-footer .c-image-gallery__container nav .c-footer__link-button {
    font-size: 1.2rem;
  }
}
.c-webgl {
  pointer-events: all;
}
.c-webgl--inactive {
  pointer-events: none;
}
.c-loading-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility 0.3s ease-out;
}
.c-loading-indicator .rotate {
  width: 100px;
  height: 100px;
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.c-loading-indicator--hidden {
  visibility: hidden;
}
.c-loading-indicator--hidden .c-backdrop {
  visibility: hidden;
}
.c-header__claim {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
}
@media (max-width: 768px) {
  .c-header__claim {
    display: none;
  }
}
.c-chevrons {
  pointer-events: none;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.c-chevrons__left,
.c-chevrons__right {
  height: 100%;
  display: flex;
  align-items: center;
}
.c-chevrons__container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  border: none;
}
.c-chevrons__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 0.25s ease-out, transform 0.25s ease-out;
}
.c-chevrons__icon {
  position: relative;
  width: 20px;
  height: 30px;
  margin: auto;
  background-color: #fff;
  transform: translateX(0);
  transition: transform 0.25s ease-out, background-color 0.25s ease-out;
}
.c-chevrons button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: transparent;
  pointer-events: all;
  cursor: pointer;
  border: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.c-chevrons button:active,
.c-chevrons button:focus {
  outline: none;
}
.c-chevrons button:hover .c-chevrons__background {
  opacity: 1;
  transform: scaleX(1);
}
.c-chevrons button:hover .c-chevrons__icon {
  background-color: #000;
}
.c-chevrons button:hover .c-chevrons--no-hover.c-chevrons__background {
  opacity: 0;
  transform: scaleX(0);
}
.c-chevrons button:hover .c-chevrons--no-hover.c-chevrons__icon {
  background-color: #fff;
}
.c-chevrons__left .c-chevrons__icon {
  -webkit-mask: url(../icons/chevron-left.svg) no-repeat center;
  mask: url(../icons/chevron-left.svg) no-repeat center;
}
.c-chevrons__left .c-chevrons__background {
  transform-origin: 100% 50%;
}
.c-chevrons__left button:hover .c-chevrons__icon {
  transform: translateX(-8px);
}
.c-chevrons__left button:hover .c-chevrons--no-hover.c-chevrons__icon {
  transform: translateX(0);
}
.c-chevrons__right .c-chevrons__icon {
  -webkit-mask: url(../icons/chevron-right.svg) no-repeat center;
  mask: url(../icons/chevron-right.svg) no-repeat center;
}
.c-chevrons__right .c-chevrons__background {
  transform-origin: 0 50%;
}
.c-chevrons__right button:hover .c-chevrons__icon {
  transform: translateX(8px);
}
.c-chevrons__right button:hover .c-chevrons--no-hover.c-chevrons__icon {
  transform: translateX(0);
}
.c-info-box__container {
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.c-info-box__pivot {
  position: absolute;
}
.c-info-box__pivot--hidden {
  visibility: hidden;
}
.c-info-box__content {
  transform: translate(100%, 50%);
  pointer-events: all;
  position: absolute;
  padding: 22px 16px 16px;
  background-color: #000;
  border-radius: 16px;
  color: #fff;
  width: 475px;
  min-height: 150px;
  max-height: 500px;
  right: 0;
  bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  .c-info-box__content {
    width: 90vw;
  }
}
.c-info-box__content__headline {
  flex: 0 0 auto;
}
.c-info-box__content__headline h4 {
  font-size: 20pt;
  margin-top: 0;
  margin-bottom: 24px;
}
.c-info-box__content__scrollview {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  box-sizing: border-box;
}
.c-info-box__content__scrollview::-webkit-scrollbar {
  width: 5px;
}
.c-info-box__content__scrollview::-webkit-scrollbar-track-piece {
  background-color: #777777;
  border-color: #000;
  border-width: 2px 1px;
  border-style: solid;
}
.c-info-box__content__scrollview::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #fff;
  border-color: #fff;
  border-style: solid;
  border-width: 1px 3px;
}
.c-info-box__content__bottom {
  flex: 0 0 auto;
  margin-top: 16px;
}
.c-info-box__content button {
  cursor: pointer;
  margin-bottom: 8px;
}
.c-info-box__content .c-info-box__image-container {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
  border: none;
  padding: 0;
}
.c-info-box__content .c-info-box__image-container img {
  max-height: 240px;
  object-fit: scale-down;
  object-position: center;
}
.c-info-box__content .c-info-box__image-container:active,
.c-info-box__content .c-info-box__image-container:focus {
  outline: none;
}
.c-info-box__content .c-info-box__image-container__main {
  display: block;
  width: 100%;
}
.c-info-box__content .c-info-box__image-container .c-info-box__play-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 250px;
}
.c-info-box__content p {
  color: #fff;
  margin-bottom: 2px;
  margin-right: 16px;
}
.c-info-box__content p a,
.c-info-box__content p a:visited {
  color: #fff;
}
.c-info-box__content--hidden {
  display: none;
}
.c-info-box__arrow {
  width: 0;
  height: 0;
  transform-origin: 0 50%;
  position: absolute;
  transform: rotate(45deg);
  -webkit-transform: rotate(360deg);
  border-style: solid;
  border-width: 16px 48px 16px 0;
  border-color: transparent #000 transparent transparent;
}
.c-info-box__pivot__scale__clone {
  visibility: hidden;
  pointer-events: none;
}
.c-overlay {
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  transform: translateY(0);
  visibility: visible;
  transition: transform 0.3s ease-out, visibility 0.3s;
}
.c-overlay .close-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 88px;
  padding: 0;
  border: none;
  cursor: pointer;
}
.c-overlay .close-button:active,
.c-overlay .close-button:focus {
  outline: 0;
}
.c-overlay .close-button img {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 20px;
  left: 25px;
}
.c-overlay__wrapper {
  height: 100vh;
  position: relative;
}
.c-overlay__wrapper__button {
  position: relative;
}
.c-overlay__wrapper__button .close-button {
  background-color: #fff;
}
.c-overlay__wrapper__content {
  height: 100%;
}
.c-overlay--black .close-button {
  background-color: transparent;
}
.c-lightbox--hidden .c-overlay {
  visibility: hidden;
  transform: translateY(100vh);
}
.c-lightbox__content {
  height: 100%;
}
.c-video-player__wrapper {
  padding-top: 95px;
  display: flex;
  justify-content: center;
}
.c-video-player__embedded {
  width: 70vw;
  height: calc(70vw / (16 / 9));
}
.c-image-gallery--hidden .c-overlay {
  visibility: hidden;
  transform: translateY(100vh);
}
.c-image-gallery__scroll-content {
  color: #fff;
  height: 100%;
  overflow-y: scroll;
}
.c-image-gallery__wrapper {
  padding-top: 40px;
  padding-bottom: 80px;
}
.c-image-gallery a {
  color: #fff;
}
main .c-image-gallery__container {
  justify-content: normal;
  padding-top: 100px;
}
.c-content-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.c-content-element p,
.c-content-element li {
  color: #fff;
}
.c-content-element h3 {
  color: #d74b00;
  font-weight: bold;
  font-size: 26pt;
  margin-top: 0;
  text-transform: uppercase;
  font-family: tradegothic-bold-webfont, sans-serif;
}
.c-content-element > img {
  width: 100%;
  height: 100%;
  margin-right: 0;
  margin-bottom: 16px;
}
@media (min-width: 992px) {
  .c-content-element {
    flex-direction: row;
  }
  .c-content-element img {
    display: flex;
    max-height: 500px;
    margin: auto;
  }
  .c-content-element div:first-child {
    max-width: 557px;
    height: 100%;
    margin-right: 30px;
    margin-bottom: 0;
    flex-basis: 50%;
  }
  .c-content-element__text {
    flex-basis: 50%;
  }
}
.c-cookie-disclaimer {
  bottom: 0;
  transition: bottom 1s ease-out;
}
.c-cookie-disclaimer--hidden {
  bottom: -100vh;
  transition: bottom 1s ease-in;
}
.c-back {
  display: block;
  position: fixed;
  top: 60px;
  margin-top: 30px;
  width: 100%;
  pointer-events: none;
}
.c-back .gt-grid,
.c-back main .c-image-gallery__container,
main .c-back .c-image-gallery__container {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.c-back .button,
.c-back .c-footer__button-link {
  pointer-events: visible;
}
@media (max-width: 480px) {
  .c-back {
    display: none;
  }
}

/*# sourceMappingURL=bundle.css.map*/
